$fontStack: 'Open Sans', sans-serif;

$primaryColor: #422755;
$secondaryColor: #FEAF3D;

$buttonColor:#6E4B87;
$bgColor: #E5E5E5;

$deadlineColor: #F04837;

$textColor: #FFFFFF;
$textInputColor: #757575; 

$borderCard: #000000;
$titleCard: #414141;
$buttonCard: #422755;

$showMoreColor: #6E4B87;
