$fontStack: "Open Sans", sans-serif;

$primaryColor: #422755;
$secondaryColor: #feaf3d;

$buttonColor: #6e4b87;
$bgColor: #e5e5e5;

$deadlineColor: #f04837;

$textColor: #ffffff;
$textInputColor: #757575;

$borderCard: #000000;
$titleCard: #414141;
$buttonCard: #422755;

$showMoreColor: #6e4b87;
