.footer{
    width: 100%;
    margin-top: 3rem;
    &__form{
        width: 80%;
        max-width: 87.6rem;
        margin: 0 auto;
        background: $bgColor;
        padding: 2rem 5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        p{
            font-size: 1.4rem;
            font-weight: 700;
            text-align: left;
            color: $showMoreColor;
            flex-grow: 2;
            width: 100%;
            margin-bottom: 1rem;
        }

        &--name,&--email{
            font-family: $fontStack;
            text-transform: lowercase;
            color: #757575;
            font-size: 1.2rem;
            font-weight: 400;
            width: 40%;
            display: flex;
            flex-direction: column;

            input{
                padding: 1rem;
                border: 0;
                border-radius: 1rem;
            }
        }

        &--button{
            border: 0;
            font-weight: 700;
            border-radius: 1rem;
            background: $showMoreColor;
            padding: 1rem;
            color: $textColor;
            align-self: flex-end;
            width: 13%
        }
    }


    &__description{
        @include flexCenter;
        width: 95%;
        padding: 2rem 2.5rem 4rem 2.5rem;
        margin: 0 auto;

        &--image{
            transform: scale(0.8);
            margin: 2rem 0;
        }

        &--text{
            font-size: 1.2rem;
            text-align: center;
            font-weight: 400;
            color: $titleCard;
        }
    }

    &__copyright{
        width: 100%;
        background: $primaryColor;
        padding: 4rem;

        &--text{
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            color: $textColor;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer{
        margin-top: 10rem;
        &__description{
            flex-direction: row;
            width: 80%;
            margin-top: 4rem;

            &--text{
                text-align: left;
            }
        }
    }
}