.cardTask{
    display: flex;
    flex-direction: row;
    border: .1rem solid $borderCard;
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
    width: 95%;
    margin-bottom: 2rem;
    position: relative;

    &__img{
        max-width: 100%;
        overflow: hidden;
    }

    &__info{
        max-width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 1rem;
        transition: .4s ease;

        i{
            &.fas{
                color: $deadlineColor;
                font-size: 2rem;
                position: absolute;
                right: 0.3rem;
                top: 0.3rem;
            }

            &.far{
                color: $textColor;
                font-size: 2rem;
            }
        }
        

        &--title{
            font-size: 1.4rem;
            color: $titleCard;
            font-weight: 700;
        }

        &--desc{
            color: $borderCard;
            font-size: 1.1rem;
            font-weight: 400;

        }

        &--deadline{
            font-size: 1.3rem;
            font-weight: 700;
            padding: 1rem 0;
            span{
                color: $deadlineColor;
                font-size: 1.7rem;
            }
        }

        &--button{
            color: $buttonCard;
            background: none;
            border: 0.1rem solid $buttonCard;
            border-radius: 0.7rem;
            padding: 0.5rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        &--data{
            color: $buttonCard;
            font-size: 1.1rem;
        }

    }

    &__desktop{
        &--done{
            background: $primaryColor;
            margin: 1rem 0;
        }

        &--change{
            background: $deadlineColor;
        }
        

        &--done, &--change{
            color: $textColor;
            border: 0;
            padding: 1rem;
            font-size: 1.6rem;
            font-weight: 700;
            border-radius: 1rem;
            cursor: pointer;

            
            visibility: hidden;
            display: none;
        }
    }
}

@media screen and (min-width: 1024px){

    .cardTask{
        display: flex;
        flex-direction: column;
        max-width: 22%;
        margin: 1rem;

        &:hover{
            .cardTask__desktop{
                &--done,&--change{
                    visibility: visible;
                    display: block;
                    
                }
            }
        }

        &__info{
            margin: 1rem 0;
            max-width: 100%;
            overflow: visible;

            .fas{
                display: none;
            }

            &--button{
                display: none;
            }
        }
    }
}