@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
  width: 95%;
  margin-bottom: 2rem;
  position: relative;
}

.cardTask__img {
  max-width: 100%;
  overflow: hidden;
}

.cardTask__info {
  max-width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 1rem;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.cardTask__info i.fas {
  color: #F04837;
  font-size: 2rem;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

.cardTask__info i.far {
  color: #FFFFFF;
  font-size: 2rem;
}

.cardTask__info--title {
  font-size: 1.4rem;
  color: #414141;
  font-weight: 700;
}

.cardTask__info--desc {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 400;
}

.cardTask__info--deadline {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem 0;
}

.cardTask__info--deadline span {
  color: #F04837;
  font-size: 1.7rem;
}

.cardTask__info--button {
  color: #422755;
  background: none;
  border: 0.1rem solid #422755;
  border-radius: 0.7rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.cardTask__info--data {
  color: #422755;
  font-size: 1.1rem;
}

.cardTask__desktop--done {
  background: #422755;
  margin: 1rem 0;
}

.cardTask__desktop--change {
  background: #F04837;
}

.cardTask__desktop--done, .cardTask__desktop--change {
  color: #FFFFFF;
  border: 0;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 1024px) {
  .cardTask {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
    -webkit-transition: .2s all ease;
    transition: .2s all ease;
  }
  .cardTask:hover {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  .cardTask:hover .cardTask__desktop--done, .cardTask:hover .cardTask__desktop--change {
    visibility: visible;
    display: block;
  }
  .cardTask__info {
    margin: 1rem 0;
    max-width: 100%;
    overflow: visible;
  }
  .cardTask__info .fas {
    display: none;
  }
  .cardTask__info--button {
    display: none;
  }
}

.shortDeadline::after {
  content: 'Prazo curto!';
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 0 .5rem .5rem 0;
  width: 10rem;
  height: 3rem;
  background: #422755;
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}

.endingDeadline::after {
  content: 'Atrasado! :(';
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 0 .5rem .5rem 0;
  width: 10rem;
  height: 3rem;
  background: #F04837;
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #FFFFFF;
  position: relative;
}

.header__title--title {
  text-align: center;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 800;
  padding: 6.5rem;
  background: linear-gradient(184deg, #422755, #422755 80%, #FFFFFF calc(80% + 1px), #FFFFFF 100%);
}

.header__title--desc {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #422755;
  padding: 2rem 3rem;
}

.header__form {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEAF3D;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 2rem 0 3rem 0;
}

.header__form--input {
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-radius: 1rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 1rem;
  font-size: 1.4rem;
  width: 80%;
  margin: 2rem 0;
  outline: 0;
}

.header__form--button {
  width: 20%;
  padding: 0.9rem 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: 0;
  border-radius: 1rem;
  background-color: #6E4B87;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  overflow: hidden;
  margin-left: -1.5rem;
  outline: 0;
}

.header__form--label {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 2rem auto;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 35%;
}

.header__form--select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 65%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  outline: 0;
}

@media screen and (min-width: 1024px) {
  .header__title {
    text-align: center;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 800;
    padding: 6.5rem;
    background: linear-gradient(182deg, #422755, #422755 80%, #FFFFFF calc(80% + 1px), #FFFFFF 100%);
  }
  .header__title--title {
    background: 0;
    padding: 0;
  }
  .header__title--desc {
    color: #FFFFFF;
  }
  .header__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 93%;
    padding: 0 10rem;
  }
  .header__form--input {
    max-width: 23rem;
  }
  .header__form--button {
    max-width: 7rem;
  }
  .header__form--label {
    display: inline;
    text-align: right;
    max-width: 100%;
    margin-right: 2rem;
  }
  .header__form--select {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    outline: 0;
  }
}

@media screen and (min-width: 566px) {
  .header__title {
    text-align: center;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 800;
    padding: 6.5rem;
    background: linear-gradient(182deg, #422755, #422755 80%, #FFFFFF calc(80% + 1px), #FFFFFF 100%);
  }
  .header__title--title {
    background: 0;
    padding: 0;
  }
  .header__title--desc {
    color: #FFFFFF;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main__button {
  border: 0;
  margin: 2rem 0;
  border-radius: 1rem;
  background: #6E4B87;
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: .8rem 3rem;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23% 23% 23% 23%;
        grid-template-columns: 23% 23% 23% 23%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 5rem;
  }
}

.footer {
  width: 100%;
  margin-top: 3rem;
}

.footer__form {
  width: 80%;
  margin: 0 auto;
  background: #E5E5E5;
  padding: 2rem 5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__form p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  color: #6E4B87;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
  margin-bottom: 1rem;
}

.footer__form--name, .footer__form--email {
  font-size: 1.4rem;
  font-weight: 400;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__form--name input, .footer__form--email input {
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
}

.footer__form--button {
  border: 0;
  font-weight: 700;
  border-radius: 1rem;
  background: #6E4B87;
  padding: 1rem;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 13%;
}

.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  padding: 2rem 2.5rem 4rem 2.5rem;
  margin: 0 auto;
}

.footer__description--image {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 2rem 0;
}

.footer__description--text {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  color: #414141;
}

.footer__copyright {
  width: 100%;
  background: #422755;
  padding: 4rem;
}

.footer__copyright--text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 10rem;
  }
  .footer__description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin-top: 4rem;
  }
  .footer__description--text {
    text-align: left;
  }
}

html {
  font-size: 62.5%;
  max-width: 100vw;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}

button, select {
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */