@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.cardTask:nth-child(n + 5) {
  display: none;
}

.cardTask__img {
  max-width: 45%;
  overflow: hidden;
}

.cardTask__info {
  width: 100%;
  /* margin: 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
}

.cardTask__info--mobile {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.cardTask__info--title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  font-family: "Open Sans";
  color: #414141;
}

.cardTask__info--desc {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans";
}

.cardTask__info--deadline {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  font-family: "Open Sans";
  padding: 1rem 0;
}

.cardTask__info--deadline span {
  color: #f04837;
  font-size: 1.7rem;
}

.cardTask__info--deadline span:nth-child(2) {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.cardTask__info--button {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  color: #422755;
  background: none;
  border: 0.1rem solid #422755;
  border-radius: 0.7rem;
  padding: 0.5rem;
}

.cardTask__info--data {
  color: #414141;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.cardTask__buttons {
  display: none;
}

.cardTask__buttons--done, .cardTask__buttons--change {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  display: inline;
  color: #ffffff;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.cardTask__buttons--done img, .cardTask__buttons--change img {
  width: 20px;
  height: 20px;
}

.cardTask__buttons--done {
  background: #422755;
  margin: 1rem 0;
}

.cardTask__buttons--change {
  background: #f04837;
  display: inline-block;
  padding-left: 3rem;
  position: relative;
}

.cardTask__buttons--change img {
  position: absolute;
  left: 14%;
  top: 1rem;
}

@media screen and (min-width: 1024px) {
  .cardTask {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
    min-height: 26rem;
    max-width: 25.3rem;
    width: 23.3%;
    position: relative;
  }
  .cardTask:nth-child(n + 5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cardTask:hover {
    -webkit-box-shadow: 1px 5px 10px 0px #00000040;
            box-shadow: 1px 5px 10px 0px #00000040;
  }
  .cardTask:hover .cardTask__buttons {
    display: block;
    z-index: 10;
    top: 94%;
    -webkit-box-shadow: 1px 5px 6px 0px #00000040;
            box-shadow: 1px 5px 6px 0px #00000040;
  }
  .cardTask__buttons {
    position: absolute;
    left: -0.1rem;
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    border: 0.1rem solid black;
    padding: 0 1.5rem 1.5rem 2rem;
    border-top: 0;
    width: calc(100% + 0.2rem);
  }
  .cardTask__img {
    max-width: 100%;
  }
  .cardTask__info {
    margin: 1rem 0;
    max-width: 100%;
    min-height: 15rem;
  }
  .cardTask__info--button, .cardTask__info--mobile {
    display: none;
  }
  .cardTask__info--data {
    margin-bottom: auto;
  }
  .cardTask__info--desc {
    min-height: 6.5rem;
  }
}

.shortDeadline::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  content: "Prazo curto!";
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  color: #ffffff;
  background: #422755;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 10rem;
  height: 3rem;
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}

.endingDeadline::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  content: "Atrasado! :(";
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  background: #f04837;
  color: #ffffff;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 10rem;
  height: 3rem;
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #cacaca;
}

::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #ffffff;
  position: relative;
}

.header__title--title {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
  font-family: "Open Sans";
  width: 100%;
  padding: 6.5rem;
  background: linear-gradient(184deg, #422755, #422755 80%, #ffffff calc(80% + 1px), #ffffff 100%);
}

.header__title--desc {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  font-family: "Open Sans";
  color: #422755;
  padding: 2rem 3rem;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #feaf3d;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 2rem 0 3rem 0;
}

.header__form--input {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans";
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 80%;
  padding: 1rem;
  margin: 2rem 0;
  border: 0;
  border-radius: 1rem;
  outline: 0;
}

.header__form--button {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 20%;
  padding: 0.9rem 0;
  margin-left: -1.5rem;
  border: 0;
  border-radius: 1rem;
  background-color: #6e4b87;
  color: #ffffff;
  overflow: hidden;
  outline: 0;
}

.header__form--label {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  font-family: "Open Sans";
  color: #ffffff;
  margin: 2rem auto;
  max-width: 35%;
}

.header__form--select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../imgs/arrowDown.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 16px 10px;
  background-position: 95% 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 65%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  outline: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.main__button {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  border: 0;
  margin: 2rem 0;
  border-radius: 1rem;
  background: #6e4b87;
  color: #ffffff;
  padding: 0.8rem 5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about {
  width: 100%;
  margin-top: 3rem;
}

.about__form {
  width: 80%;
  max-width: 87.6rem;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 2rem 5rem;
  background: #e5e5e5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.about__form p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  font-family: "Open Sans";
  color: #6e4b87;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
  margin-bottom: 1rem;
}

.about__form--name, .about__form--email {
  text-transform: lowercase;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans";
  width: 40%;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__form--name input, .about__form--email input {
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
}

.about__form--button {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans";
  border: 0;
  border-radius: 1rem;
  background: #6e4b87;
  padding: 1rem;
  color: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 13%;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  padding: 2rem 2.5rem 4rem 2.5rem;
  margin: 0 auto;
}

.about__description--image {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 2rem 0;
}

.about__description--text {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  font-family: "Open Sans";
  color: #414141;
}

.footer {
  width: 100%;
  background: #422755;
  padding: 4rem;
}

.footer__copyright {
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 566px) {
  .header__title {
    width: 100%;
    padding: 6.5rem;
    background: linear-gradient(182deg, #422755, #422755 80%, #ffffff calc(80% + 1px), #ffffff 100%);
  }
  .header__title--title {
    background: 0;
    padding: 0;
  }
  .header__title--desc {
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    text-align: center;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 800;
    padding: 6.5rem;
    background: linear-gradient(182deg, #422755, #422755 80%, #ffffff calc(80% + 1px), #ffffff 100%);
  }
  .header__title--title {
    background: 0;
    padding: 0;
  }
  .header__title--desc {
    color: #ffffff;
  }
  .header__form {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 1081px;
    padding: 0 10rem;
  }
  .header__form--input {
    max-width: 23rem;
  }
  .header__form--button {
    max-width: 7rem;
  }
  .header__form--label {
    display: inline;
    text-align: right;
    max-width: 100%;
    margin-right: 2rem;
  }
  .header__form--select {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    outline: 0;
  }
  .about {
    margin-top: 10rem;
  }
  .about__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin-top: 4rem;
  }
  .about__description--text {
    text-align: left;
  }
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

button,
select {
  cursor: pointer;
}

.container {
  max-width: 1081px;
  width: 95%;
}
/*# sourceMappingURL=main.css.map */